body {
  background-color: #1e1e1e;
  color: whitesmoke;
}

/* .card .card-content {
  padding-bottom: 70px;
} */

.fixed {
  position: fixed;
}

.bottom {
  bottom: 0;
}

#input {
  padding: 5px;
  padding-top: 10px;
  border-top: 1px solid whitesmoke;
  width: 100%;
}