body {
  background-color: #262626;
  color: whitesmoke;
}

nav .brand-logo {
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  height: 100%;
}

.fixed {
  position: fixed;
}

.bottom {
  bottom: 0;
}

#input {
  padding: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
}
#input.row {
  margin: 0;
}

input {
  color: whitesmoke;
}

#list {
  margin: auto;
  padding: 50px;
}