body {
  background-color: #262626;
  color: whitesmoke;
}
.content {
  height: 100%;
}

.fixed {
  position: fixed;
}

.bottom {
  bottom: 0;
}

#input {
  padding: 5px;
  padding-top: 10px;
  border-top: 1px solid whitesmoke;
  width: 100%;
}

input, textarea {
  color: whitesmoke;
}

#list {
  margin: auto;
  padding: 50px;
}